USE [master]
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'RestaurantManagement')
BEGIN
    CREATE DATABASE [RestaurantManagement]
END
GO

USE [RestaurantManagement]
GO

/****** Object:  Table [dbo].[FoodDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodDetails](
	[FoodId] [varchar](50) NOT NULL,
	[FoodName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FoodDetails] PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[FoodPrices] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodPrices](
	[FoodId] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FoodPrices] PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [FK_FoodPrices_FoodDetails] FOREIGN KEY ([FoodId]) REFERENCES [dbo].[FoodDetails]([FoodId]) ON DELETE CASCADE
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LoginInfo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginInfo](
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](64) NOT NULL,
 CONSTRAINT [PK_LoginInfo] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[UserInfo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Username] [varchar](30) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserInfo_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [FK_UserInfo_LoginInfo] FOREIGN KEY ([Username]) REFERENCES [dbo].[LoginInfo]([Username]) ON DELETE CASCADE
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[OrdersInfo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersInfo](
	[OrderID] [varchar](50) NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL DEFAULT GETDATE(),
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrdersInfo] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[OrdersItems] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](50) NOT NULL,
	[Item] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrdersItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
),
 CONSTRAINT [FK_OrdersItems_OrdersInfo] FOREIGN KEY ([OrderID]) REFERENCES [dbo].[OrdersInfo]([OrderID]) ON DELETE CASCADE
) ON [PRIMARY]
GO

USE [master]
GO

ALTER LOGIN sa WITH PASSWORD = '123', CHECK_POLICY = OFF, CHECK_EXPIRATION = OFF;
ALTER LOGIN sa ENABLE;
GO

-- Enable SQL Server and Windows Authentication (Mixed Mode)
EXEC xp_instance_regwrite 
    N'HKEY_LOCAL_MACHINE', 
    N'Software\Microsoft\MSSQLServer\MSSQLServer', 
    N'ServerAuthentication', 
    REG_DWORD, 2;
GO

USE [RestaurantManagement];
GO

-- 1. Insert into LoginInfo table
IF NOT EXISTS (SELECT 1 FROM dbo.LoginInfo WHERE Username = 'sa')
BEGIN
    INSERT INTO dbo.LoginInfo (Username, Password)
    VALUES ('sa', '123');
END

-- 2. Insert corresponding UserInfo record (Admin role)
IF NOT EXISTS (SELECT 1 FROM dbo.UserInfo WHERE Username = 'sa')
BEGIN
    INSERT INTO dbo.UserInfo (Username, FullName, DOB, Gender, Role, Email)
    VALUES ('sa', 'System Admin', '2000-01-01', 'Male', 'Admin', 'admin@restaurant.com');
END
GO

-- Create and switch database
CREATE DATABASE IF NOT EXISTS RestaurantDB;
USE RestaurantDB;

-- Drop existing tables in reverse dependency order
DROP TABLE IF EXISTS Transactions;
DROP TABLE IF EXISTS Order_Details;
DROP TABLE IF EXISTS Orders;
DROP TABLE IF EXISTS Menu_Items;
DROP TABLE IF EXISTS Categories;
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Employees;
DROP TABLE IF EXISTS Roles;

-- Roles Table


-- Roles Table
CREATE TABLE Roles (
    RoleID INT IDENTITY(1,1) PRIMARY KEY,
    RoleName VARCHAR(50) NOT NULL UNIQUE
);

-- Employees Table
CREATE TABLE Employees (
    EmployeeID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    RoleID INT,
    Phone VARCHAR(20),
    Email VARCHAR(100),
    FOREIGN KEY (RoleID) REFERENCES Roles(RoleID) ON DELETE SET NULL
);

-- Customers Table
CREATE TABLE Customers (
    CustomerID INT IDENTITY(1,1) PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    Phone VARCHAR(20),
    Email VARCHAR(100)
);

-- Categories Table
CREATE TABLE Categories (
    CategoryID INT IDENTITY(1,1) PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

-- Menu_Items Table
CREATE TABLE Menu_Items (
    ItemID INT IDENTITY(1,1) PRIMARY KEY,
    ItemName VARCHAR(100) NOT NULL,
    CategoryID INT,
    Price DECIMAL(10, 2) NOT NULL,
    IsAvailable BIT DEFAULT 1,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID) ON DELETE SET NULL
);

-- Orders Table
CREATE TABLE Orders (
    OrderID INT IDENTITY(1,1) PRIMARY KEY,
    CustomerID INT,
    EmployeeID INT,
    OrderDate DATETIME DEFAULT GETDATE(),
    TotalAmount DECIMAL(10, 2) DEFAULT 0.00,
    Status VARCHAR(20) DEFAULT 'Pending',
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID) ON DELETE SET NULL,
    FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID) ON DELETE SET NULL
);

-- Order_Details Table
CREATE TABLE Order_Details (
    OrderDetailID INT IDENTITY(1,1) PRIMARY KEY,
    OrderID INT NOT NULL,
    ItemID INT NOT NULL,
    Quantity INT NOT NULL DEFAULT 1,
    UnitPrice DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE,
    FOREIGN KEY (ItemID) REFERENCES Menu_Items(ItemID) ON DELETE CASCADE
);

-- Transactions Table
CREATE TABLE Transactions (
    TransactionID INT IDENTITY(1,1) PRIMARY KEY,
    OrderID INT NOT NULL,
    PaymentMethod VARCHAR(50) NOT NULL,
    AmountPaid DECIMAL(10, 2) NOT NULL,
    TransactionDate DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID) ON DELETE CASCADE
);



-- 1. Roles (5 records)
INSERT INTO Roles (RoleName) VALUES 
('Admin'),
('Manager'),
('Cashier'),
('Waiter'),
('Chef');

-- 2. Employees (5 records)
INSERT INTO Employees (FirstName, LastName, RoleID, Phone, Email) VALUES 
('John', 'Doe', 1, '012345678', 'john.doe@restaurant.com'),
('Sophea', 'Chan', 2, '098765432', 'sophea.chan@restaurant.com'),
('Dara', 'Sok', 3, '011223344', 'dara.sok@restaurant.com'),
('Bopa', 'Meng', 4, '055667788', 'bopa.meng@restaurant.com'),
('Vandy', 'Rath', 5, '099887766', 'vandy.rath@restaurant.com');

-- 3. Customers (5 records)
INSERT INTO Customers (FirstName, LastName, Phone, Email) VALUES 
('Navang', 'Sok', '012111222', 'navang@gmail.com'),
('Kosal', 'Keo', '012333444', 'kosal.keo@gmail.com'),
('Sreyneang', 'Vann', '012555666', 'sreyneang@gmail.com'),
('Rithy', 'Chau', '012777888', 'rithy.chau@gmail.com'),
('Lida', 'Heng', '012999000', 'lida.heng@gmail.com');

-- 4. Categories (5 records)
INSERT INTO Categories (CategoryName) VALUES 
('Beverages'),
('Main Course'),
('Appetizers'),
('Dessert'),
('Side Dishes');

-- 5. Menu_Items (5 records)
INSERT INTO Menu_Items (ItemName, CategoryID, Price, IsAvailable) VALUES 
('Iced Green Tea', 1, 2.50, 1),
('Fried Rice', 2, 4.00, 1),
('Spring Rolls', 3, 3.00, 1),
('Chocolate Cake', 4, 3.50, 1),
('French Fries', 5, 2.00, 1);

-- 6. Orders (5 records)
INSERT INTO Orders (CustomerID, EmployeeID, TotalAmount, Status) VALUES 
(1, 3, 6.50, 'Completed'),
(2, 4, 7.00, 'Completed'),
(3, 3, 5.50, 'Completed'),
(4, 4, 9.50, 'Pending'),
(5, 3, 2.50, 'Cancelled');

-- 7. Order_Details (5 records)
INSERT INTO Order_Details (OrderID, ItemID, Quantity, UnitPrice) VALUES 
(1, 1, 1, 2.50), -- Order 1: Iced Green Tea
(1, 2, 1, 4.00), -- Order 1: Fried Rice
(2, 2, 1, 4.00), -- Order 2: Fried Rice
(2, 3, 1, 3.00), -- Order 2: Spring Rolls
(3, 4, 1, 3.50); -- Order 3: Chocolate Cake

-- 8. Transactions (5 records)
INSERT INTO Transactions (OrderID, PaymentMethod, AmountPaid) VALUES 
(1, 'Cash', 6.50),
(1, 'Credit Card', 0.00),
(2, 'ABA Bank QR', 7.00),
(3, 'Cash', 5.50),
(4, 'ABA Bank QR', 9.50);

CREATE DATABASE RestaurantSystem;
GO

USE RestaurantSystem;
GO

-- 1. Users / Staff Table
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    Password NVARCHAR(100) NOT NULL,
    Role NVARCHAR(20) NOT NULL,
    FullName NVARCHAR(100) NOT NULL
);

-- 2. Category Table
CREATE TABLE Categories (
    CategoryID INT IDENTITY(1,1) PRIMARY KEY,
    CategoryName NVARCHAR(50) NOT NULL
);

-- 3. Menu Item Table
CREATE TABLE MenuItems (
    ItemID INT IDENTITY(1,1) PRIMARY KEY,
    CategoryID INT FOREIGN KEY REFERENCES Categories(CategoryID),
    ItemName NVARCHAR(100) NOT NULL,
    Price DECIMAL(10,2) NOT NULL,
    IsAvailable BIT DEFAULT 1
);

-- 4. Orders Table
CREATE TABLE Orders (
    OrderID INT IDENTITY(1,1) PRIMARY KEY,
    OrderDate DATETIME DEFAULT GETDATE(),
    TableNumber INT NOT NULL,
    TotalAmount DECIMAL(10,2) DEFAULT 0.00,
    Status NVARCHAR(20) DEFAULT 'Pending'
);

-- 5. Order Details Table
CREATE TABLE OrderDetails (
    DetailID INT IDENTITY(1,1) PRIMARY KEY,
    OrderID INT FOREIGN KEY REFERENCES Orders(OrderID) ON DELETE CASCADE,
    ItemID INT FOREIGN KEY REFERENCES MenuItems(ItemID),
    Quantity INT NOT NULL,
    SubTotal DECIMAL(10,2) NOT NULL
);
GO

-- INSERT SAMPLE DATA (5+ records each)

INSERT INTO Users(Username, Password, Role, FullName) VALUES
('admin', 'admin123', 'Admin', 'System Administrator'),
('waiter1', 'pass123', 'Waiter', 'John Doe'),
('waiter2', 'pass123', 'Waiter', 'Jane Smith'),
('chef1', 'chef123', 'Chef', 'Gordon Ramsay'),
('cashier1', 'cash123', 'Cashier', 'Alice Johnson');

INSERT INTO Categories (CategoryName) VALUES
('Appetizers'),
('Main Course'),
('Beverages'),
('Desserts'),
('Special Sets');

INSERT INTO MenuItems (CategoryID, ItemName, Price, IsAvailable) VALUES
(1, 'Spring Rolls', 4.50, 1),
(1, 'Garlic Bread', 3.00, 1),
(2, 'Grilled Chicken Steak', 12.50, 1),
(2, 'Beef Burger Special', 9.99, 1),
(2, 'Seafood Fried Rice', 8.50, 1),
(3, 'Iced Green Milk Tea', 2.50, 1),
(3, 'Peach Oolong Tea', 3.00, 1),
(4, 'Chocolate Ice Cream', 3.50, 1),
(4, 'Cheesecake', 4.00, 1);

INSERT INTO Orders (OrderDate, TableNumber, TotalAmount, Status) VALUES
(GETDATE(), 1, 17.00, 'Completed'),
(GETDATE(), 3, 11.50, 'Completed'),
(GETDATE(), 5, 20.99, 'Preparing'),
(GETDATE(), 2, 5.50, 'Pending'),
(GETDATE(), 4, 15.50, 'Completed');

INSERT INTO Order_Details (OrderID, ItemID, Quantity, SubTotal) VALUES
(1, 3, 1, 12.50, 1, 1), -- Order 1: 1 Grilled Chicken Steak, 1 Spring Roll
(2, 5, 1, 8.50, 2, 1),  -- Order 2: 1 Fried Rice, 1 Oolong Tea
(3, 4, 1, 9.99, 3, 1),  -- Order 3: 1 Burger, 1 Chicken Steak
(4, 6, 1, 2.50, 4, 1),  -- Order 4: 1 Green Tea, 1 Peach Tea
(5, 3, 1, 12.50, 5, 1);  -- Order 5: 1 Steak, 1 Ice Cream
GO






SET NOCOUNT ON;
GO

/* ============================================================
   1. LoginInfo + UserInfo
   ============================================================ */
IF OBJECT_ID(N'dbo.LoginInfo', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.LoginInfo (Username, [Password])
    SELECT v.Username, v.[Password]
    FROM (VALUES
        ('manager01', 'Pass123!'),
        ('cashier01',  'Cash123!'),
        ('waiter01',   'Wait123!'),
        ('chef01',     'Chef123!'),
        ('staff01',    'Staff123!')
    ) v(Username, [Password])
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.LoginInfo x WHERE x.Username = v.Username
    );
END
GO

IF OBJECT_ID(N'dbo.UserInfo', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.UserInfo
        (Username, FullName, DOB, Gender, Role, Email)
    SELECT v.Username, v.FullName, v.DOB, v.Gender, v.Role, v.Email
    FROM (VALUES
        ('manager01', 'Sokha Chan',     '1995-04-12', 'Female', 'Manager', 'sokha.chan@test.example'),
        ('cashier01', 'Dara Kim',      '1998-08-21', 'Male',   'Cashier', 'dara.kim@test.example'),
        ('waiter01',  'Malis Vong',     '2000-01-15', 'Female', 'Waiter',  'malis.vong@test.example'),
        ('chef01',    'Borey Lim',      '1992-11-03', 'Male',   'Chef',    'borey.lim@test.example'),
        ('staff01',   'Sreyneang Keo',  '1999-06-27', 'Female', 'Staff',   'sreyneang.keo@test.example')
    ) v(Username, FullName, DOB, Gender, Role, Email)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.UserInfo x
        WHERE x.Username = v.Username OR x.Email = v.Email
    );
END
GO

/* ============================================================
   2. Legacy FoodDetails + FoodPrices
   ============================================================ */
IF OBJECT_ID(N'dbo.FoodDetails', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.FoodDetails (FoodId, FoodName)
    SELECT v.FoodId, v.FoodName
    FROM (VALUES
        ('F001', 'Classic Beef Burger'),
        ('F002', 'Chicken Fried Rice'),
        ('F003', 'Spring Rolls'),
        ('F004', 'Mango Cheesecake'),
        ('F005', 'Iced Lemon Tea')
    ) v(FoodId, FoodName)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.FoodDetails x WHERE x.FoodId = v.FoodId
    );
END
GO

IF OBJECT_ID(N'dbo.FoodPrices', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.FoodPrices (FoodId, Category, Price)
    SELECT v.FoodId, v.Category, v.Price
    FROM (VALUES
        ('F001', 'Main Course', 5.50),
        ('F002', 'Main Course', 4.50),
        ('F003', 'Appetizers', 3.00),
        ('F004', 'Dessert',     4.75),
        ('F005', 'Beverages',  2.25)
    ) v(FoodId, Category, Price)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.FoodPrices x WHERE x.FoodId = v.FoodId
    )
    AND EXISTS (
        SELECT 1 FROM dbo.FoodDetails f WHERE f.FoodId = v.FoodId
    );
END
GO

/* ============================================================
   3. Roles
   ============================================================ */
IF OBJECT_ID(N'dbo.Roles', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Roles (RoleName)
    SELECT v.RoleName
    FROM (VALUES
        ('Admin'),
        ('Manager'),
        ('Cashier'),
        ('Waiter'),
        ('Chef')
    ) v(RoleName)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Roles r WHERE r.RoleName = v.RoleName
    );
END
GO

/* ============================================================
   4. Employees
   ============================================================ */
IF OBJECT_ID(N'dbo.Employees', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Employees
        (FirstName, LastName, RoleID, Phone, Email)
    SELECT v.FirstName, v.LastName, r.RoleID, v.Phone, v.Email
    FROM (VALUES
        ('Sokha',     'Chan',  'Manager', '012-555-1001', 'employee.sokha@test.example'),
        ('Dara',      'Kim',   'Cashier', '012-555-1002', 'employee.dara@test.example'),
        ('Malis',     'Vong',  'Waiter',  '012-555-1003', 'employee.malis@test.example'),
        ('Borey',     'Lim',   'Chef',    '012-555-1004', 'employee.borey@test.example'),
        ('Sreyneang', 'Keo',   'Waiter',  '012-555-1005', 'employee.sreyneang@test.example')
    ) v(FirstName, LastName, RoleName, Phone, Email)
    LEFT JOIN dbo.Roles r ON r.RoleName = v.RoleName
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Employees e WHERE e.Email = v.Email
    );
END
GO

/* ============================================================
   5. Customers
   ============================================================ */
IF OBJECT_ID(N'dbo.Customers', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Customers
        (FirstName, LastName, Phone, Email)
    SELECT v.FirstName, v.LastName, v.Phone, v.Email
    FROM (VALUES
        ('Navang',    'Sok',   '012-111-1001', 'navang.sok@test.example'),
        ('Kosal',     'Keo',   '012-111-1002', 'kosal.keo@test.example'),
        ('Sreyneang', 'Vann',  '012-111-1003', 'sreyneang.vann@test.example'),
        ('Rithy',     'Chau',  '012-111-1004', 'rithy.chau@test.example'),
        ('Lida',      'Heng',  '012-111-1005', 'lida.heng@test.example')
    ) v(FirstName, LastName, Phone, Email)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Customers c WHERE c.Email = v.Email
    );
END
GO

/* ============================================================
   6. Categories
   ============================================================ */
IF OBJECT_ID(N'dbo.Categories', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Categories (CategoryName)
    SELECT v.CategoryName
    FROM (VALUES
        ('Beverages'),
        ('Main Course'),
        ('Appetizers'),
        ('Dessert'),
        ('Side Dishes')
    ) v(CategoryName)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Categories c WHERE c.CategoryName = v.CategoryName
    );
END
GO

/* ============================================================
   7. Menu_Items (schema variant)
   ============================================================ */
IF OBJECT_ID(N'dbo.Menu_Items', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Menu_Items
        (ItemName, CategoryID, Price, IsAvailable)
    SELECT v.ItemName, c.CategoryID, v.Price, v.IsAvailable
    FROM (VALUES
        ('Iced Green Tea',  'Beverages',   2.50, 1),
        ('Chicken Fried Rice', 'Main Course', 4.50, 1),
        ('Spring Rolls',    'Appetizers',  3.00, 1),
        ('Chocolate Cake',  'Dessert',     3.50, 1),
        ('French Fries',    'Side Dishes', 2.00, 1)
    ) v(ItemName, CategoryName, Price, IsAvailable)
    LEFT JOIN dbo.Categories c ON c.CategoryName = v.CategoryName
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Menu_Items m WHERE m.ItemName = v.ItemName
    );
END
GO

/* ============================================================
   8. MenuItems (schema variant)
   ============================================================ */
IF OBJECT_ID(N'dbo.MenuItems', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.MenuItems
        (CategoryID, ItemName, Price, IsAvailable)
    SELECT c.CategoryID, v.ItemName, v.Price, v.IsAvailable
    FROM (VALUES
        ('Beverages',   'Iced Green Tea',       2.50, 1),
        ('Main Course', 'Chicken Fried Rice',   4.50, 1),
        ('Appetizers',  'Spring Rolls',         3.00, 1),
        ('Dessert',     'Chocolate Cake',        3.50, 1),
        ('Side Dishes', 'French Fries',         2.00, 1)
    ) v(CategoryName, ItemName, Price, IsAvailable)
    LEFT JOIN dbo.Categories c ON c.CategoryName = v.CategoryName
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.MenuItems m WHERE m.ItemName = v.ItemName
    );
END
GO

/* ============================================================
   9. Orders - newer relational schema
   Creates 5 orders linked to existing customers/employees.
   ============================================================ */
IF OBJECT_ID(N'dbo.Orders', N'U') IS NOT NULL
   AND OBJECT_ID(N'dbo.Customers', N'U') IS NOT NULL
   AND OBJECT_ID(N'dbo.Employees', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Orders
        (CustomerID, EmployeeID, OrderDate, TotalAmount, Status)
    SELECT
        c.CustomerID,
        e.EmployeeID,
        v.OrderDate,
        v.TotalAmount,
        v.Status
    FROM (VALUES
        ('navang.sok@test.example',      'employee.malis@test.example',  '2026-08-27T12:15:00',  7.00, 'Completed'),
        ('kosal.keo@test.example',       'employee.dara@test.example',   '2026-08-28T13:05:00',  7.50, 'Completed'),
        ('sreyneang.vann@test.example',  'employee.malis@test.example',  '2026-08-29T18:20:00',  5.50, 'Completed'),
        ('rithy.chau@test.example',      'employee.sreyneang@test.example','2026-08-30T19:10:00', 9.50, 'Pending'),
        ('lida.heng@test.example',       'employee.dara@test.example',   '2026-08-31T11:45:00',  2.50, 'Completed')
    ) v(CustomerEmail, EmployeeEmail, OrderDate, TotalAmount, Status)
    LEFT JOIN dbo.Customers c ON c.Email = v.CustomerEmail
    LEFT JOIN dbo.Employees e ON e.Email = v.EmployeeEmail
    WHERE c.CustomerID IS NOT NULL
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.Orders o
          WHERE o.CustomerID = c.CustomerID
            AND o.OrderDate = CONVERT(datetime, v.OrderDate)
      );
END
GO

/* ============================================================
   10. Order_Details - newer relational schema
   ============================================================ */
IF OBJECT_ID(N'dbo.Order_Details', N'U') IS NOT NULL
   AND OBJECT_ID(N'dbo.Orders', N'U') IS NOT NULL
   AND OBJECT_ID(N'dbo.Menu_Items', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Order_Details
        (OrderID, ItemID, Quantity, UnitPrice)
    SELECT TOP 5
        o.OrderID,
        m.ItemID,
        1,
        m.Price
    FROM dbo.Orders o
    CROSS JOIN dbo.Menu_Items m
    WHERE NOT EXISTS (
        SELECT 1
        FROM dbo.Order_Details d
        WHERE d.OrderID = o.OrderID
    )
    ORDER BY o.OrderID, m.ItemID;
END
GO

/* ============================================================
   11. Transactions - newer relational schema
   ============================================================ */
IF OBJECT_ID(N'dbo.Transactions', N'U') IS NOT NULL
   AND OBJECT_ID(N'dbo.Orders', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Transactions
        (OrderID, PaymentMethod, AmountPaid, TransactionDate)
    SELECT TOP 5
        o.OrderID,
        CASE o.OrderID % 3
            WHEN 0 THEN 'Cash'
            WHEN 1 THEN 'ABA Bank QR'
            ELSE 'Credit Card'
        END,
        o.TotalAmount,
        DATEADD(MINUTE, 10, o.OrderDate)
    FROM dbo.Orders o
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Transactions t WHERE t.OrderID = o.OrderID
    )
    ORDER BY o.OrderID;
END
GO

/* ============================================================
   12. Users - separate simple login schema variant
   ============================================================ */
IF OBJECT_ID(N'dbo.Users', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.Users
        (Username, [Password], [Role], FullName)
    SELECT v.Username, v.[Password], v.[Role], v.FullName
    FROM (VALUES
        ('admin01',   'Admin123!',   'Admin',   'Sokha Chan'),
        ('manager01', 'Manager123!', 'Manager', 'Dara Kim'),
        ('cashier01', 'Cashier123!', 'Cashier', 'Malis Vong'),
        ('waiter01',  'Waiter123!',  'Waiter',  'Borey Lim'),
        ('chef01',    'Chef123!',    'Chef',    'Sreyneang Keo')
    ) v(Username, [Password], [Role], FullName)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Users u WHERE u.Username = v.Username
    );
END
GO

/* ============================================================
   13. OrdersInfo - legacy schema variant
   ============================================================ */
IF OBJECT_ID(N'dbo.OrdersInfo', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.OrdersInfo
        (OrderID, CustomerName, OrderDate, Total)
    SELECT v.OrderID, v.CustomerName, v.OrderDate, v.Total
    FROM (VALUES
        ('LEG-001', 'Navang Sok',    '2026-08-27T12:15:00',  7.00),
        ('LEG-002', 'Kosal Keo',     '2026-08-28T13:05:00',  7.50),
        ('LEG-003', 'Sreyneang Vann','2026-08-29T18:20:00',  5.50),
        ('LEG-004', 'Rithy Chau',    '2026-08-30T19:10:00',  9.50),
        ('LEG-005', 'Lida Heng',     '2026-08-31T11:45:00',  2.50)
    ) v(OrderID, CustomerName, OrderDate, Total)
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.OrdersInfo o WHERE o.OrderID = v.OrderID
    );
END
GO

/* ============================================================
   14. OrdersItems - legacy schema variant
   ============================================================ */
IF OBJECT_ID(N'dbo.OrdersItems', N'U') IS NOT NULL
   AND OBJECT_ID(N'dbo.OrdersInfo', N'U') IS NOT NULL
BEGIN
    INSERT INTO dbo.OrdersItems (OrderID, Item, Quantity)
    SELECT v.OrderID, v.Item, v.Quantity
    FROM (VALUES
        ('LEG-001', 'Iced Green Tea', 1),
        ('LEG-002', 'Chicken Fried Rice', 1),
        ('LEG-003', 'Spring Rolls', 1),
        ('LEG-004', 'Chocolate Cake', 2),
        ('LEG-005', 'Iced Green Tea', 1)
    ) v(OrderID, Item, Quantity)
    WHERE EXISTS (
        SELECT 1 FROM dbo.OrdersInfo o WHERE o.OrderID = v.OrderID
    )
    AND NOT EXISTS (
        SELECT 1 FROM dbo.OrdersItems x
        WHERE x.OrderID = v.OrderID AND x.Item = v.Item
    );
END
GO

/* ============================================================
   15. Simple verification
   ============================================================ */
PRINT '===== Fake data counts =====';

IF OBJECT_ID(N'dbo.LoginInfo', N'U') IS NOT NULL
    SELECT 'LoginInfo' AS TableName, COUNT(*) AS RecordCount FROM dbo.LoginInfo;

IF OBJECT_ID(N'dbo.UserInfo', N'U') IS NOT NULL
    SELECT 'UserInfo' AS TableName, COUNT(*) AS RecordCount FROM dbo.UserInfo;

IF OBJECT_ID(N'dbo.FoodDetails', N'U') IS NOT NULL
    SELECT 'FoodDetails' AS TableName, COUNT(*) AS RecordCount FROM dbo.FoodDetails;

IF OBJECT_ID(N'dbo.FoodPrices', N'U') IS NOT NULL
    SELECT 'FoodPrices' AS TableName, COUNT(*) AS RecordCount FROM dbo.FoodPrices;

IF OBJECT_ID(N'dbo.Roles', N'U') IS NOT NULL
    SELECT 'Roles' AS TableName, COUNT(*) AS RecordCount FROM dbo.Roles;

IF OBJECT_ID(N'dbo.Employees', N'U') IS NOT NULL
    SELECT 'Employees' AS TableName, COUNT(*) AS RecordCount FROM dbo.Employees;

IF OBJECT_ID(N'dbo.Customers', N'U') IS NOT NULL
    SELECT 'Customers' AS TableName, COUNT(*) AS RecordCount FROM dbo.Customers;

IF OBJECT_ID(N'dbo.Categories', N'U') IS NOT NULL
    SELECT 'Categories' AS TableName, COUNT(*) AS RecordCount FROM dbo.Categories;

IF OBJECT_ID(N'dbo.Menu_Items', N'U') IS NOT NULL
    SELECT 'Menu_Items' AS TableName, COUNT(*) AS RecordCount FROM dbo.Menu_Items;

IF OBJECT_ID(N'dbo.MenuItems', N'U') IS NOT NULL
    SELECT 'MenuItems' AS TableName, COUNT(*) AS RecordCount FROM dbo.MenuItems;

IF OBJECT_ID(N'dbo.Orders', N'U') IS NOT NULL
    SELECT 'Orders' AS TableName, COUNT(*) AS RecordCount FROM dbo.Orders;

IF OBJECT_ID(N'dbo.Order_Details', N'U') IS NOT NULL
    SELECT 'Order_Details' AS TableName, COUNT(*) AS RecordCount FROM dbo.Order_Details;

IF OBJECT_ID(N'dbo.Transactions', N'U') IS NOT NULL
    SELECT 'Transactions' AS TableName, COUNT(*) AS RecordCount FROM dbo.Transactions;

IF OBJECT_ID(N'dbo.Users', N'U') IS NOT NULL
    SELECT 'Users' AS TableName, COUNT(*) AS RecordCount FROM dbo.Users;

IF OBJECT_ID(N'dbo.OrdersInfo', N'U') IS NOT NULL
    SELECT 'OrdersInfo' AS TableName, COUNT(*) AS RecordCount FROM dbo.OrdersInfo;

IF OBJECT_ID(N'dbo.OrdersItems', N'U') IS NOT NULL
    SELECT 'OrdersItems' AS TableName, COUNT(*) AS RecordCount FROM dbo.OrdersItems;
GO


select * from Customers;